#dashboard {
    padding: 25px;
}

.subtitle {
    color: white;
    padding-bottom: 25px;
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 15px;
    color: turquoise;
}

#intro {
    color: white;
    padding-left: 30px;
}

#history {
    color:white;
    text-align: center;
}

.poster-tile img {
    width: 25px; 
    height: auto; 
}

/* used custom-link to make the "The Film Fetcher" text on every page to be a link back home, but does not change color or have the underline that a link normally has */

.custom-link, .custom-link:visited, .custom-link:hover, .custom-link:active {
    color: inherit; 
    text-decoration: none; 
}

/* Tokens to display the scores and grades */
.token {
    color:black;
    background-color:#FDFD96;
    padding:10px;
    margin-left:15px;
    border-radius:20%;
}

.token-review {
    padding:5px;
}

/* To display critic and user review content */
.review-box {
    background-color: rgba(255,255,255,0.5);
    margin-right: 10px;
}

.hide {
    display: none;
}
