#dashboard {
    padding: 25px;
}

.subtitle {
    color: white;
    padding-bottom: 25px;
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 15px;
    color: turquoise;
}

#intro {
    color: white;
    padding-left: 30px;
}

#history {
    color:white;
    text-align: center;
}

#movie-dashboard {

}
