#dashboard {
    padding: 25px;
}

.subtitle {
    color: white;
    padding-bottom: 25px;
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 15px;
    color: turquoise;
}

#intro {
    color: white;
    padding-left: 30px;
}

#history {
    color:white;
    text-align: center;
}

#movie-dashboard {

}

.poster-tile img {
    width: 25px; 
    height: auto; 
}

.custom-link, .custom-link:visited, .custom-link:hover, .custom-link:active {
    color: inherit; 
    text-decoration: none; 
}